body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#hra{
    background-image: url("./pictures/background-night.png");
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
#restart{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    cursor: pointer;
}
